@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Monoton');

html
{
  height:100%;
  -webkit-appearance: none;
}
body {
  -webkit-appearance: none;
  font-family: 'Amatic SC', sans-serif;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background: url("https://images.alphacoders.com/711/711150.png") no-repeat fixed;
  background-size: cover;
  height: 100%;
}
header
{
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  height: 80%;
  overflow: scroll;
}
header p
{
  line-height: 2;
  color:#FFF;
  margin: 5%;
  font-size: 1rem;
  text-align: left;
}
header h1 {
  margin: 5%;
  font-family: 'Monoton', cursive;
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
}

header h2
{
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.5em;
  color: white;
  font-family: monospace;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

header p:hover
{
  -webkit-animation: neon3 0.2s ease-in-out infinite alternate;
  -moz-animation: neon3 0.2s ease-in-out infinite alternate;
  animation: neon3 0.2s ease-in-out infinite alternate;
}

#linkDiv
{
  margin: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#linkDiv a
{
  text-decoration: none;
  color:rgba(0,0,0,1);
  font-weight: bold;
  transition: text-shadow .3s;
}
#linkDiv a:hover, #linkDiv a:focus {
  text-shadow: 2px 2px rgba(0,0,0,0.5);
}
ul
{
  list-style-type: none;
  height:100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
li
{
  margin-bottom: 2%;
}
li:hover
{
  -webkit-animation: icon3d 200ms infinite;
          animation: icon3d 200ms infinite;
}
li img
{
  width:20vh;
  height:20vh;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  margin: 0 auto 5% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

label
{
  box-sizing: border-box;
  font-size:1.5rem;
  font-weight: bold;
  width: 33%;
  padding: 2%;
  text-align: center;
  vertical-align: middle;
  display : block;
  cursor : pointer;
  color:white;
  background-color : rgba(0,0,0,0.8);
  transition: background ease 0.2s;
}

.tab
{
  display: none;
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  order: 99;
  height: 100%;
  max-height: 100%;
}
#content
{
  height: 100%;
  padding: 5%;
  font-size:1.5rem;
  width: 50%;
  text-align: center;
}
#content > div
{
  height: 90%;
}

@media (max-width: 700px ) {
  header h1
  {
    font-size: 3rem!important;
  }
  header h2
  {
    font-size: 2rem!important;
    letter-spacing: 0.1em!important;
  }
  body
  {
    height: auto;
    background-image: url("https://vignette.wikia.nocookie.net/amaama-to-inazuma/images/3/38/Tsumugis_mr_galigali_costume.jpeg");
    background-size: auto 100vh;
    flex-direction: column-reverse;
    background-position: center center;
    background-repeat: no-repeat;
  }
  #content
  {
    justify-content: flex-end;
    width: 100%;

  }
  .tab{
    order: initial!important;
    display: block!important;
  }
  label {
    text-align: center;
    order: initial;
    width: 100%;
    margin-right: 0rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: rgba(0,0,0, 0.8)!important;
    color: rgba(255,255,255,1)!important;
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2017-3-23 18:48:41
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}@keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}



@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
@keyframes icon3d {
  0% {
    text-shadow: 2px 2px #FFCAF2, -3px -2px #A2EDFF;
  }
  25% {
    text-shadow: -2px -2px #FFCAF2, 2px 1px #A2EDFF;
  }
  50% {
    text-shadow: 2px -3px #FFCAF2, -2px 2px #A2EDFF;
  }
  75% {
    text-shadow: -2px -1px #FFCAF2, -1px -1px #A2EDFF;
  }
  100% {
    text-shadow: -2px 0 #FFCAF2, 2px -1px #A2EDFF;
  }
}
